<html xmlns:th="http://www.thymeleaf.org">
	<tbody>
        <h3>All Library Departments</h3>
        <table>
            <tr>
                <th>ID</td>
                <th>Specialization</td>
                <th>Work hours</td>
            </tr>
            <tr th:each="libDep: ${package}">
                <td th:text="${libDep.getIdLibDep()}"></td>
                <td th:text="${libDep.getLibSpec()}"></td>
                <td th:text="${libDep.getWorkHours()}"></td>
            </tr>
        </table>
	</tbody>
</html>
