<html xmlns:th="http://www.thymeleaf.org">
    <body>
    <div th:insert="navbar :: navbar"></div>   
        <tbody>
            <h3>All readers</h3>
            <table>
                <tr>
                    <th>ID</td>
                    <th>Name</td>
                    <th>Surname</td>
                </tr>
                <tr th:each="reader: ${package}">
                    <td th:text="${reader.getIdRea()}"></td>
                    <td th:text="${reader.getName()}"></td>
                    <td th:text="${reader.getSurname()}"></td>
                    <td><a th:href="@{/reader/update/{id}(id=${reader.getIdRea()})}">Edit</a></td>
                    <td><a th:href="@{/reader/remove/{id}(id=${reader.getIdRea()})}">Delete</a></td>
                </tr>
            </table>
        </tbody>
    </body>
</html>
